*.tok
*.tok.sents
ElineVere
elinevere*
Random
random-with.sents.gz
random-without.sents.gz
words.freq
words.unknowns
auto
handc
btest*
ctest*
all.alts
adjn
qnouns
dbnl_with
dbnl_without
TestWith
TestWithout
*~
*.bak
auto.misses
