*.tok
*.tok.sents
ElineVere
Random
random-with.sents.gz
random-without.sents.gz
words.freq
words.unknowns
auto
handc
autoc
btest*
ctest*
all.alts
adjn
qnouns
dbnl_with
dbnl_without
TestWith
TestWithout
